# Secrets
keys.txt
ansi-keys.txt
parsed-key.txt
.env

# Local Data
vault-data/
db-data/

# Temporary
.env.tmp
.DS_Store

# RC Wrapper
rc-wrapper/node_modules/
rc-wrapper/dist/
rc-wrapper/.env
npm-data
