# Secrets
keys.txt
ansi-keys.txt
parsed-key.txt
.env

# Local Data
vault-data/
db-data/

# Temporary
.env.tmp
.DS_Store

# RC Wrapper
auth-service/node_modules/
auth-service/dist/
auth-service/.env
npm-data
auth-token-generateion