PORT=3001
IDENTITY_URL=http://localhost:3332
CREDENTIAL_URL=http://localhost:3000
CREDSCHEMA_URL=http://localhost:3333
AUTH_TOKEN=your-secret-token
REGISTRY_URL=https://registry.becknprotocol.io/subscribers
REGISTRY_NAME=lookup
